{% extends '_base.html' %}

{% block content %}

    <!-- NAVBAR -->
    {% include 'blog/navbar.html' %}
    {% include 'blog/create.html' %}

    <!-- BLOG TITLE -->
    <h3 class="container mt-3" style="margin-left: 110px;"><span class="text-danger">{{ page_obj.count }} </span> ta
        blog topildi!</h3>

    <!-- BLOG BODY -->
    <div class="d-flex gap-3 p-3 flex-wrap justify-content-center">
        {% for blog in page_obj %}
            <div class="card border shadow" style="width: 18rem;">
                <img src="{{ blog.image.url }}" class="card-img-top custom-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title | truncatechars:20 }}</h5>
                    <p class="card-text">{{ blog.description | truncatechars:50 }}</p>
                    <a href="{% url 'detail' blog.id %}" class="btn btn-outline-primary w-100">Batafsil</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- PAGINATION -->
    <div class="mt-3 d-flex justify-content-center align-items-center">
        {% include 'blog/pagination.html' %}
    </div>

{% endblock %}