<!-- NAVBAR -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Blog's</a>
        <form class="d-flex w-75 input-group" role="search" >
            <label class="input-group-text" id="basic-addon1" for="search"><i class="bi bi-search"></i></label>
            <input class="form-control me-2" id="search" type="search" placeholder="Postlar qidirish..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Qidirish</button>
        </form>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-plus-circle"></i> Yaratish
        </button>
    </div>
</nav>